In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
df =pd.read_csv("/Users/adi/Desktop/TA_Adi_V2/QE Statistik V2/logistic_regression/dataset/dataset_keparahan.csv")
df.head()

,No Document,title,Description,Mati,Luka,Kerugian Barang,Kerugian Uang,Pemerkosaan,Keparahan
0,0,Maling Motor Parlente di Pasuruan Gondol Motor...,\-\n\nMaling perlente beraksi di sebuah klinik...,0,0,1,0,0,1
1,1,2 Komplotan Maling Motor Asal Tangerang dan Le...,\-\n\nPolsek Neglasari meringkus dua komplotan...,0,0,2,0,0,1
2,2,Pria di Dairi Nekat Habisi Oppungnya demi Perh...,"\-\n\nSeorang pria di Kabupaten Dairi, bernama...",1,0,1,1,0,3
3,3,"Korban Curanmor Silakan Merapat, Ada 7 Mobil-4...",\-\n\nPolres Bogor menyita 7 mobil dan 48 moto...,0,0,7,0,0,3
4,4,"Kepergok Curi Motor Mahasiswa USU, 2 Pria Ini ...",\-\n\n2 pelaku pencuri sepeda motor milik maha...,0,1,2,0,0,3

In [6]:
df_train,df_test=train_test_split(df,test_size=0.2)

,No Document,title,Description,Mati,Luka,Kerugian Barang,Kerugian Uang,Pemerkosaan,Keparahan
1023,1097,"Kecanduan Judi Slot Online, Pembunuh Sadis di ...",\-\n\nPolda Sumatera Selatan (Sumsel) menangka...,1,10,1,0,0,3
71,80,Pekerja Warkop di Tulungagung Nyaris Diperkosa...,\-\n\nPekerja warung kopi (warkop) karaoke di ...,0,0,0,0,1,3
128,138,Bejat! Ayah Tiri di Jaksel Perkosa Anak Gadis ...,\-\n\nPria berinisial GB (31) ditangkap karena...,0,0,1,0,1,3
508,546,"Polda Jateng Sita Barbuk 304 Mobil-Motor, Warg...",\-\n\nPolda Jawa Tengah menangkap 325 pelaku k...,0,0,304,150000000,0,3
475,510,Mertua Sebut Kamar Anak Perempuan Dipasangi CC...,\-\n\nPerwira Direktorat Reserse Narkoba Polda...,2021,0,0,0,0,3

In [8]:
df_train

,No Document,title,Description,Mati,Luka,Kerugian Barang,Kerugian Uang,Pemerkosaan,Keparahan
1023,1097,"Kecanduan Judi Slot Online, Pembunuh Sadis di ...",\-\n\nPolda Sumatera Selatan (Sumsel) menangka...,1,10,1,0,0,3
71,80,Pekerja Warkop di Tulungagung Nyaris Diperkosa...,\-\n\nPekerja warung kopi (warkop) karaoke di ...,0,0,0,0,1,3
128,138,Bejat! Ayah Tiri di Jaksel Perkosa Anak Gadis ...,\-\n\nPria berinisial GB (31) ditangkap karena...,0,0,1,0,1,3
508,546,"Polda Jateng Sita Barbuk 304 Mobil-Motor, Warg...",\-\n\nPolda Jawa Tengah menangkap 325 pelaku k...,0,0,304,150000000,0,3
475,510,Mertua Sebut Kamar Anak Perempuan Dipasangi CC...,\-\n\nPerwira Direktorat Reserse Narkoba Polda...,2021,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...
693,740,"Buntut Kasus Pemerkosaan, Satpol PP Surabaya D...",\-\n\nOknum Satpol PP Surabaya yang memerkosa ...,0,0,0,0,1,3
403,430,Kisah Pria di Bulukumba Dibebaskan Jaksa Usai ...,"\-\n\nSeorang pria bernama Izham (39), pelaku ...",0,0,1,0,0,1
67,75,Polisi Tangkap Tangan 5 Pemulung Sedang Curi K...,\-\n\nPolisi menangkap lima pelaku pencurian k...,0,0,0,0,0,1
958,1026,Bocah Korban Pemerkosaan Abah di Sukabumi Alam...,\-\n\nSebanyak 10 bocah perempuan korban pemer...,1,0,0,0,10,3
978,1046,Salah Satu Pembegal Amaq Sinta Ternyata Anak d...,\-\n\nSalah satu dari empat pembegal Murtede a...,2,0,1,0,0,3

In [7]:
df_test

,No Document,title,Description,Mati,Luka,Kerugian Barang,Kerugian Uang,Pemerkosaan,Keparahan
277,298,"Kejar Pelaku Pencurian Motor, Polisi di Tanger...",\-\n\nSeorang anggota Polsek Tangerang berinis...,1,1,0,0,0,3
596,640,"Pura-pura Belanja, Perampok Berpistol Gasak Rp...",\-\n\nAksi perampokan terjadi di salah satu mi...,0,0,0,5000000,0,1
485,521,5 Fakta Motor Chef Aiko Dicuri Modus Rusak Gem...,"\-\n\nRumah _chef_ Aiko di Kembangan, Jakarta ...",0,0,1,90000000,0,3
65,73,Perampok Sadis Tembak Mati Mahasiswi di Lampun...,\-\n\nPerampokan sadis menewaskan seorang maha...,1,0,0,50000000,0,3
989,1058,Pasuruan Darurat Curanmor! 6 Motor Hilang Dua ...,\-\n\nPencurian motor di tempat terbuka meraja...,0,0,1,1,0,2
...,...,...,...,...,...,...,...,...,...
291,314,Oknum Satpol PP Surabaya yang Perkosa Pemandu ...,\-\n\nSeorang pemandu lagu di Surabaya mengaku...,0,0,0,0,1,3
1048,1123,Awal Mula Terungkapnya Neneng Pembunuh Dini di...,\-\n\nPolisi mengungkap misteri hilangnya Dini...,1,0,2022,0,0,3
439,468,"Berawal dari Laporan Pencurian, Polisi Dapat '...",\-\n\nPolisi membongkar sindikat sabu-sabu di ...,0,0,0,0,0,1
1091,1170,"Korban Begal Jadi Tersangka, LBH NTB: Hentikan...",\-\n\nKasus korban begal yang ditetapkan tersa...,1,0,0,0,0,3
852,912,Viral Diduga Suami Istri Bawa Anak Curi Motor ...,\-\n\nBeredar sebuah video di media sosial yan...,0,0,1,0,0,1

In [11]:
df_train.to_csv('dataset/df_train_kriminal.csv')

In [12]:
df_test.to_csv('dataset/df_test_kriminal.csv')

In [15]:
print(len(df_train))
print(len(df_test))

901
226