In [8]:
import pandas as pd
# df = pd.read_csv("bow_where_b.csv")
# df2 = pd.read_csv("bow_where_daerah.csv")

# df2.head()
# frames = [df, df2]
# result = pd.concat(frames)
# result.info()

# result.to_csv('bow_where_concat.csv', index=False)

df_new = pd.read_csv('bow_where_daerah.csv')
# df_new = df_new.loc[:, ~df_new.columns.str.contains('^Unnamed')]
df_new.head()
# df_new.to_csv('bow_where_concat.csv')

,tingkat setelah parent,parent,similarity
0,1,daerah,"[('wilayah', 0.7908145189285278), ('kawasan', ..."
1,2,wilayah,"[('daerah', 0.7908145785331726), ('kawasan', 0..."
2,2,kawasan,"[('wilayah', 0.7835985422134399), ('daerah', 0..."
3,2,didaerah,"[('diwilayah', 0.7900596857070923), ('daerah',..."
4,2,daerahnya,"[('daerah', 0.631923258304596), ('wilayahnya',..."